<!DOCTYPE html>
<html>
<head>
    <title>Registration Details</title>
</head>
<body>
    <h1>Registration Details</h1>
    <p>Name: <%= name %></p>
    <p>Email: <%= email %></p>
    <p>Password: <%= password %></p>
</body>
</html>